@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* container */

.container {
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* left and right box */

#left,
#right {
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #fff;
}

/* list item */

.list {
    background: #e91e63;
    height: 60px;
    margin: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
}

.list i {
    margin: 0 15px 0 20px;
}

/* responsiveness */

@media (max-width: 690px) {

    #left,
    #right {
        width: 250px;
        min-height: 350px;
    }

    .list {
        height: 50px;
    }
}

@media (max-width: 580px) {

    #left,
    #right {
        width: 200px;
        min-height: 270px;
    }

    .list {
        height: 40px;
        margin: 20px;
    }

    .list i {
        margin: 0 10px 0 10px;
    }
}

@media (max-width: 480px) {

    .container {
        flex-direction: column;
    }

    #hide {
        display: none;
    }

    #left,
    #right {
        width: 280px;
        min-height: 150px;
    }
}